<div class="container margin-top-medium">
  <div class="parallax-container">
    <div class="parallax"><img src="../../assets/images/contact-us/cdc-entrance.png"></div>
  </div>
  <h4 class="green-text center">Contact Us</h4>

  <div class="row">
    <div class="col s12">
      <h5 class="green-text"><strong>Contact Information</strong></h5>
      <h6>Address: Virborough Subdivision, Parian Calamba, Laguna</h6>
      <h6>Cellphone: 0999-526-8092</h6>
      <h6>Telephone: (049)545-9921</h6>
    </div>

    <div class="col s12 margin-top-medium center margin-bottom-small">
      <h6><strong>CALAMBA DOCTORS' COLLEGE LOCATION MAP</strong></h6>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3867.633011468012!2d121.14120521483581!3d14.216253890048163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33bd624c826163c5%3A0xbf4ef72f3a43ed40!2sCalamba%20Doctors&#39;%20College!5e0!3m2!1sen!2sph!4v1583832133543!5m2!1sen!2sph"
        width="1000" height="850" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
  </div>
</div>


<!-- <div class="section">

  <div class="container center margin-top-large">
    <div class="divider"></div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3867.633011468012!2d121.14120521483581!3d14.216253890048163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33bd624c826163c5%3A0xbf4ef72f3a43ed40!2sCalamba%20Doctors&#39;%20College!5e0!3m2!1sen!2sph!4v1583832133543!5m2!1sen!2sph"
      width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
</div> -->
