<div class="section">
  <div class="header-container">
    <h4 class="green-text">About CDC</h4>
  </div>
  <div class="body-container">
    <h5 class="no-margin-top">History</h5>
    <div class="row">
      <div class="col s12 m6">
        <img class="responsive-img center" src="../../assets/images/about/cdc.jpg">
      </div>
      <div class="col s12 m6">
        <p class="justify-text">Every event has a cause. In 2002, men with philanthropic hearts established a learning
          institution founded in
          a very noble purpose- "Veritas Et Servum". In alphabetically hierarchy, the philanthropist are Dr. Domingo O.
          Amistad, Capt. Guillermo A. Arciaga, Mr. Jose A. Bacud PTRP, Dr. Robert J. Banatin, Dr. Dolores B. Bernardo,
          Mr. Leonilo E, Ercia, Dr. Juan A. Lagunzad, Dr. Rodolfo P. Luna, Dr. Nicolas S. Molon, Mr. Rodolfo L. Pua, Dr.
          Danilo T. Ramilo, Dr. Jose P. Santiago, Jr., and Dr. Roman C. Sy Qui.</p>
        <p class="justify-text no-margin-top">They are affiliates of the Advanced Medical Systems, Incorporated (AMSI) and they
          together with the members of the foundation, constituted the brains that brilliantly crafted the humble
          beginning of this school project. Their names will forever inscribed in the annals of the school history.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12">
        <p class="justify-text no-margin-top right">They are affiliates of the Advanced Medical Systems, Incorporated (AMSI) and they
          Transforming the school vision to task at its initial year, invested so much anguish and heartaches.
          Documents, registrations, recruitments, facilities, deadlines and ocular inspections taxed upon the tunnels of
          hope of the prime movers, yet, these neither faltered their determination nor diminished their benevolence.
          Greater mobilization of power successfully reaped CHED Government Permits to operate Bachelor of Science in
          Nursing (BSN) and Graduate in Midwifery (GM) and TVET Program Registration for 7 Months Caregiving Course.
          Full of enthusiasm the prime movers operated the approved programs with very minimal enrollees.
          beginning of this school project. Their names will forever inscribed in the annals of the school history.</p>
      </div>
      <div class="col s12 m12">
        <p class="justify-text no-margin-top">They are affiliates of the Advanced Medical Systems, Incorporated (AMSI) and they
          Transforming the school vision to task at its initial year, invested so much anguish and heartaches.
          Documents, registrations, recruitments, facilities, deadlines and ocular inspections taxed upon the tunnels of
          hope of the prime movers, yet, these neither faltered their determination nor diminished their benevolence.
          Greater mobilization of power successfully reaped CHED Government Permits to operate Bachelor of Science in
          Nursing (BSN) and Graduate in Midwifery (GM) and TVET Program Registration for 7 Months Caregiving Course.
          Full of enthusiasm the prime movers operated the approved programs with very minimal enrollees.
          beginning of this school project. Their names will forever inscribed in the annals of the school history.</p>
      </div>
      <div class="col s12 m12">
        <p class="justify-text no-margin-top">The Board of Trustees, chaired by Dr, Nicolas S. Molon came with the first key
          positions: School President Dr. Juan A. Lagunzad, Executive Vice President Dr. Dolores B. Bernardo and Dean of
          Nursing and Midwifery Mrs. Edna R. Molon. Later, a new Dean Dr. Fe B. Espinosa was appointed. A new name,
          Jesusa N. Laudiano Assistant to the President was added to the chart.</p>
      </div>
      <div class="col s12 m12">
        <p class="justify-text no-margin-top">Dynamism significantly creates history. In 2004, the school assumed a new official
          name, CDC Allied Medical Colleges. The new school organizational structure positioned Dr. Dolores B. Bernardo
          - Preident; Dr. Juan A. Lagunzad - Executive Vice President; and Dr. Robert J. Banatin - School Administrator.
          Later, with the exit of Dr. Fe B. Espinosa, the incumbent Dean of Nursing and Midwifery, Mrs. Arcelie F. Alpay
          was appointed new Dean. The newly created position of Asst, School Administrator was given to Mrs. Maria M.
          Calica.</p>
      </div>
      <div class="col s12 m12">
        <p class="justify-text no-margin-top">In the succeeding year, growth in enrollment could not be contained thus manpower
          facilities and related accommodations necessarily but proportionately increased. More teaching and
          non-teaching personnel joined the forced. Medical Transcription and Bachelor of Secondary Education (BSED)
          programs came about. Soon students fr0m all over the archipelago availed of the school's Foundation and
          Academic Scholarship Programs. Above all else the overall school profile, basically its base hospital, key
          positions, physical facilities and learning environment impressively paralleled collegiate standards and
          subsequently hospital, key positions, physical facilities and learning environment, bolstered school morale.
        </p>
      </div>
      <div class="col s12 m12">
        <p class="justify-text no-margin-top">The school gathered more inspirations to acquire self-esteem. In 2006, its GM and BSN
          batches of graduates revealed gratifying board results of 100% and 58% respectively which brought great
          satisfaction to the educational community. This also provided strength and confidence to the new nurses at the
          base hospital. The Vision-Mission oriented policies of the Board of Trustees enhanced word deficiency among
          employees and dedication to studies among students. This change bred an academic environment for all.</p>
      </div>
      <div class="col s12 m12">
        <p class="justify-text no-margin-top">It was Year 2008 that the new name, Calamba Doctors' College boosted all over the
          place. The students enjoyed calling themselves CADOCIANS. Then renovations and applications for new courses
          kept the school busy. New key positions were filled up: Dr. Domingo O. Amistad was appointed Vice-President
          for Academic Affairs and Mr. Jose A. Bacud became Vice-President for External Affairs.</p>
      </div>
    </div>
  </div>


  <div class="section">
    <div class="body-container">
      <div class="divider"></div>
      <div class="row">
        <div class="center col s12 m12 l8 offset-l2">
          <strong>
            <h4 id="goals" class="green-text">Goals</h4>
          </strong>
          <p class="justify-text">CADOCIAN graduates who are excellent partners of the school and community in the implementation of national
            and global socio – economic growth programs and projects.</p>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <strong>
            <h4 class="center green-text">Mission</h4>
          </strong>
          <p class="justify-text">Sustain a quality education that addresses the diverse career goals of local and foreign students, by
            empowering them with professional work information and competencies as well as behavioral attributes that
            should prepare them to perform excellently in the workplace and to assume responsibly a respectable peaceful
            community life anywhere in the country and in the world.</p>
        </div>
        <div class="col s12 m6">
          <strong>
            <h4 class="center green-text">Vision</h4>
          </strong>
          <p class="justify-text">A Center of Development for professionals in medical allied courses imbued with adequate technological
            information, professional competencies and behavioral attributes that would make them excel in the workplace
            and model a meaningful community life.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="body-container">
    <div class="row">
      <div class="divider"></div>
      <div class="col s12 m12 l8 offset-l2">
        <strong>
          <h4 id="goals" class="center green-text">Objectives</h4>
        </strong>
        <p class="center justify-text">To achieve the school Vision and Mission, Calamba Doctors' College commits to provide students
          with maximum
          learning assistance for them to be able to live up to the following key expectations:</p>
      </div>
      <div class="col s12 m12 l8 offset-l2">
        <ol type="i">
          <li class="justify-text">
            Optimized the quality time provided for instruction, benefit from the guidance of instructors who
            competently turn the teaching-learning process into a rich opportunity for sourcing knowledge and
            experiencing
            developmental
            skills;
          </li>
          <li class="justify-text">Acquire and adopt excellent learning strategies and study patterns/habits that would ensure the mastery of
            skills and competencies required to complete a chosen course;</li>
          <li class="justify-text">
            Practice newly acquired skills in relevant situations maximizing the use of school instructional facilities
            and services, and appreciate these through appropriate use and care;
          </li>
          <li class="justify-text">
            Respect and observe school guidelines, rules and regulations that are meant to conserve, preserve and
            promote the socio-cultural ideals of the school;
          </li>
          <li class="justify-text">
            Create initiatives for accessing possible learning pathways that should make certain the attainment of high
            levels of learning and achievement;
          </li>
          <li class="justify-text">
            Work for excellence, take pride in being a foundation/scholarship grantee and be a part of the school's
            vision and mission;
          </li>
          <li class="justify-text">
            Exemplify the values of love and respect for people's beliefs,cultures,ideals,hardwork and industry and make
            these vehicles in the attainment of a profession that could sustain an appreciative living.
          </li>
        </ol>

      </div>
    </div>
  </div>
</div>
