nav ul li a {
  color: #008744;
  font-weight: 500;
  font-size: 14.5px;
}

nav {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 4px 0 rgba(0, 0, 0, 0.2);
  height: 100px;
  line-height: 100px;
  padding-left: 10px;
  background-color: white;
}

.logo {
  height: 90px;
  width: 340px;
  padding-top: 0.9vw;
}

#academics-dropdown {
  top: 100% !important;
  width: 250px !important;
}

.drop-down {
  margin-top: 16px;
  margin-left: 5px !important;
}

#about-dropdown {
  top: 100% !important;
  width: 250px !important;
}

#admissions-dropdown {
  top: 100% !important;
  width: 250px !important;
}

