.tab-border {
  background: #f2f2f2;
  border: 2px solid #ebebeb;
  border-radius: 0 0 6px 6px;
  margin-left: 10px;
  margin-right: 10px;

}

.tab-padding {
  padding: 10px 40px 10px 40px;
}

.underline-text {
  text-decoration: underline;
}

ul li {
  margin-left: 20px
}
