<div class="section">
  <div class="container">
    <h4 class="green-text">College</h4>
    <div class="row margin-top-medium">
      <div class="col s12 m8">
        <strong>TITLE</strong>
        <p class="margin-top-small">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pulvinar consectetur pretium. Curabitur
          euismod
          tincidunt lacus, in dignissim erat. Morbi a nibh quam. Maecenas aliquam facilisis neque, a ultricies velit
          congue
          ornare. Proin et sapien a lacus tempor facilisis eu blandit justo. Morbi elit eros, congue et elementum vel,
          tincidunt sed ipsum. Pellentesque sed ante non purus euismod luctus. Praesent eu tellus efficitur,
          sollicitudin
          velit eget, ultricies quam. Phasellus sollicitudin, orci non sollicitudin luctus, tortor nisl mattis mauris,
          sed
          sollicitudin sapien ante imperdiet orci. Donec ullamcorper gravida egestas.
        </p>
      </div>
      <div class="col s12 m4">
        <img class="responsive-img center" src="../../assets/images/academics/shs.jpg">
      </div>
    </div>

    <div class="tab-border">
      <div class="tab-padding">
        <div class="row">
          <div class="col s12 m12">
            <h5 class="green-text"><strong>Programs</strong></h5>
              <h6 class="underline-text margin-top-medium"><strong>COLLEGE COURSES</strong></h6>
              <ul>
                  <li>• Bachelor of Science in Nursing</li>
                  <li>• Bachelor of Science in Radiologic Technology</li>
                  <li>• Bachelor of Science in Medical Techonology</li>
                  <li>• Bachelor of Science in Physical Therapy</li>
                  <li>• Bachelor of Science in Accountancy</li>
                  <li>• Bachelor of Science in Business Administration</li>
                  <li>• Bachelor of Secondary Education</li>
                  <li>• Bachelor of Elementary Education</li>
                  <li>• Bachelor of Science in Psychology</li>
                </ul>
          </div>
          <div class="col s12 m12">
              <h6 class="underline-text"><strong>TESDA COURSES</strong></h6>
              <ul>
                  <li>• Cookery NC II</li>
                  <li>• Caregiving NC II</li>
                  <li>• Housekeeping NC II</li>
                </ul>
          </div>
        </div>
      </div> <!-- tab-padding -->
    </div> <!-- tab-border -->
  </div>
</div>
