.container {
  width: 90% !important;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.margin-top-small {
  margin-top: 10px !important;
}

.margin-top-medium {
  margin-top: 25px;
}

.margin-top-large {
  margin-top: 50px;
}

.margin-bottom-small {
  margin-bottom: 10px !important;
}


.gray-background {
  background-color: gainsboro !important;
}

.yellow-text {
  color: yellow !important;
}

.green-text {
  color: #009944 !important;
}

.tabs .indicator {
  background-color: yellow !important;
}

.justify-text {
  text-align: justify;
}
