.parallax img {
  width: 100%;
  height: auto;

  /* Add the blur effect */
  /* filter: blur(5px); */

}

.parallax-container {
  height: 500px;
}

.btn {
  background-color: Transparent;
  box-shadow: none;
  margin-top: 190px;
}
