<div class="carousel carousel-slider">
  <div class="parallax-container padding-top1">
    <a id="carousel-prev" class="movePrevCarousel btn waves-effect carousel-btn left">
      <i class="mdi mdi-arrow-left-thick"></i>
    </a>
    <a id="carousel-next" class="moveNextCarousel btn waves-effect carousel-btn right">
      <i class="mdi mdi-arrow-right-thick"></i>
    </a>
    <a class="carousel-item" href="#one!">
      <div class="parallax"><img src="../../assets/images/home/ilovecdc.jpg"></div>
    </a>
    <a class="carousel-item" href="#one!">
      <div class="parallax"><img src="../../assets/images/common/parallax.png"></div>
    </a>
    <a class="carousel-item" href="#one!">
      <div class="parallax"><img src="../../assets/images/home/ilovecdc.jpg"></div>
    </a>
  </div>
</div>

<div class="section center">
  <div class="row padding-medium">
    <div class="col s12">
      <h4 class="heading-title">ABOUT CALAMBA DOCTORS' COLLEGE</h4>
    </div>
    <div class="col s12 m6 push-m3">
      <h6 class="justify-text">Calamba Doctors' College is well known as a school in Calamba that offers medical allied
        courses with
        affordable tuition fees and scholarship programs.</h6>
    </div>
  </div>
</div>

<div class="">
  <div class="container background">
    <div class="divider"></div>
    <div class="section">
      <div class="row no-margin">
        <div class="col s12 center">
          <h4 class="heading-title">WHY CHOOSE CDC?</h4>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center icon-color"><img class="responsive-img img-list" src="../../assets/images/home/quality-education.png"></h2>
            <h5 class="center">Quality Education</h5>
            <ul>
              <li>
                • CDC Teachers are LET (Licensure Exam for Teachers) Passers
              </li>
              <li>
                • CDC Teachers are Masteral and Doctoral Degree Holder
              </li>
              <li>
                • Senior High School (under TechVoc) -100% pass their National Certificate II (NC II)
              </li>
            </ul>
          </div>
        </div>
        <div class="col s12 m4">
          <h2 class="center"><img class="responsive-img img-list" src="../../assets/images/home/lab-duo-scope.png"></h2>
          <h5 class="center">Equipment and Facilities</h5>
          <ul>
            <li>
              • Fully air-conditioned rooms
            </li>
            <li>
              • Fully-equipped laboratory rooms
              (Computer Lab, Speech Lab, HRM Lab, Chem Lab, Micropara, and Multi-Purpose Hall)
            </li>
            <img class="img-free-wifi" src="../../assets/images/home/free-wifi.png">
          </ul>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center icon-color"><i class="mdi mdi-file-account-outline"></i></h2>
            <h5 class="center">Discounts from Tuition Fee</h5>
            <ul>
              <li>
                • With Honors: 25% Discount
              </li>
              <li>
                • With High Honors: 50% Disccount
              </li>
              <li>
                • With Highest Honors: 100% Discount
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row ">
        <div class="col s12 m4 push-m4 no-padding">
          <div class="icon-block">
            <h2 class="center icon-color"><i class="mdi mdi-file-account-outline"></i></h2>
            <h5 class="center">CDC offers COLLEGE SCHOLARSHIP</h5>
            <ul>
              <li>
                • <strong class="green-text">Foundation Scholarship</strong> – 100% Free Tuition Fee and Miscellaneous
                Fee
                (with Cash and Transportation Allowances)

              </li>
              <li>
                • <strong class="green-text">Nursing Scholarship</strong> – 100% free tuition fee and miscellaneous fee
                with allowance & Ready-employment at CDH
              </li>
              <li>
                • <strong class="green-text">Partial Scholarship </strong> – 100% Free Tuition Fee
              </li>
              <li>
                • <strong class="green-text">Academic Scholarship </strong> – with Honor, High Honor & Highest Honor
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container parallax-container-bottom">
  <div class="row padding-top">
    <div class="col s12 center">
      <h3 class="yellow-text no-margin">ENROLL NOW!</h3>
      <h3 class="white-text no-margin-top">Be part of CADOCIAN Family!</h3>
      <a class="btn parallax-btn">Enroll Now!</a>
      <a class="btn parallax-btn">View Programs Offered</a>
    </div>
  </div>
  <div class="parallax parallax-bottom"><img src="../../assets/images/home/ilovecdc.jpg"></div>
</div>

<div class="section">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m6 center">
          <h5 class="green-text">
            <strong>
              Concept Design
            </strong>
          </h5>
          <img class="responsive-img materialboxed video-size" src="../../assets/images/home/cdc-concept-building.png">
        </div>
        <div class="col s12 m6 center">
          <h5 class="green-text">
            <strong>
              Acquaintance
            </strong>
          </h5>
          <img class="responsive-img materialboxed video-size" src="../../assets/images/home/cdc-acquaintance.png">
        </div>
      </div>
    </div>
  </div>
</div>
