.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background: transparent;
}

.tabs .tab a {
  color: #009944 !important;
}

.tab-padding {
  padding: 10px 40px 10px 40px;
}

.tab-border {
  background: #f2f2f2;
  border: 2px solid #ebebeb;
  border-radius: 0 0 6px 6px;
  width: 100%;
}

.header-title{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.divider{
  height: 2px;
}

.text-underline{
  text-decoration: underline;
}

ul li{
  margin-left: 20px
}

