<div class="section">
  <div class="container">
    <h4 class="green-text">Admission Requirements</h4>
    <div class="row margin-top-large">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s4"><a class="active text-darken-4 left" href="#entrance-exam"><strong>Entrance
                Examination</strong></a>
          </li>
          <li class="tab col s4"><a class="text-darken-4" href="#basic-education"><strong>Basic Education</strong></a>
          <li class="tab col s4"><a class="text-darken-4" href="#college"><strong>College</strong></a>
        </ul>
      </div>

      <div id="entrance-exam" class="col s12">
        <div class="tab-border">
          <div class="tab-padding">
            <div class="row">
              <h5 class="green-text"><strong>Requirements</strong></h5>
            </div>
            <h6 class="text-underline margin-top-medium"><strong>Senior High</strong></h6>
            <h6 class="text-underline margin-top-medium"><strong>College</strong></h6>
          </div>
        </div>
      </div>

      <div id="basic-education" class="col s12">
        <div class="tab-border">
          <div class="tab-padding">
            <div class="row">
              <h5 class="green-text"><strong>Basic Education</strong></h5>
              <div class="col s12 m4">
                <h6><strong>FOR KINDER & ELEMENTARY</strong></h6>
                <ol>
                  <li>
                    PSA/NSO Certified Birth Certificate (Original and 1 Photocopy)
                  </li>
                  <li>
                    Report Card (For Grades 1-4, Original and 1 Photocopy)
                  </li>
                  <li>
                    1x1 & 2x2 Picture (2pcs. White Background)
                  </li>
                  <li>
                    Long Folder & Long Brown Envelope
                  </li>
                </ol>
              </div>
              <div class="col s12 m4">
                <h6><strong>FOR JUNIOR HIGH SCHOOL</strong></h6>
                <ol>
                  <li>
                    PSA/NSO Certified Birth Certificate (Original and 1 Photocopy)
                  </li>
                  <li>
                    Report Card (Original and 1 Photocopy)
                  </li>
                  <li>
                    Certified of Good Moral Character (Original and 1 Photocopy)
                  </li>
                  <li>
                    Certified of Completion/Diploma (1 Photocopy)
                  </li>
                  <li>
                    1x1 Picture (2pcs. White Background)
                  </li>
                  <li>
                    2x2 Picture (1pc. White Background)
                  </li>
                </ol>
              </div>
              <div class="col s12 m4">
                <h6><strong>FOR SENIOR HIGH SCHOOL</strong></h6>
                <ol>
                  <li>
                    PSA/NSO Certified Birth Certificate (Original and 1 Photocopy)
                  </li>
                  <li>
                    Grade 10 Report Card with LRN Number (Original and 1 Photocopy)
                  </li>
                  <li>
                    Certificate of Good Moral Character (Original and 1 Photocopy)
                  </li>
                  <li>
                    Certificate JHS Completion/Diploma (Present the Original, 1 Photocopy)
                  </li>
                  <li>
                    Form 137-A (If Available, Original Copy with remarks "Copy for Calamba Doctors' College"
                  </li>
                  <li>
                    ESC Certification Letter from JHS Principal From Private School (Original and 1 Photocopy)
                  </li>
                  <li>
                    QVR Certificate (Applied Online)
                  </li>
                  <li>
                    1x1 Picture (2pcs. White Background)
                  </li>
                  <li>
                    2x2 Picture (1pc. in Formal White Background)
                  </li>
                  <li>
                    Long Folder & Long Brown Envelope
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="college" class="col s12">
        <div class="tab-border">
          <div class="tab-padding">
            <div class="row">
              <h5 class="green-text"><strong>College</strong></h5>
              <div class="col s12 m6">
                <h6><strong>FOR ENTERING FRESHMEN</strong></h6>
                <ol>
                  <li>
                    PSA/NSO Certified Birth Certificate (Original and 1 Photocopy)
                  </li>
                  <li>
                    PSA Married Certificate (FOr Married Female Only, 1 Photocopy)
                  </li>
                  <li>
                    Form 138 or SHS Card (Original nad 1 Photocopy)
                  </li>
                  <li>
                    Form 137-A (If Available, Original Copy with remarks "Copy for Calamba Doctors' College")
                  </li>
                  <li>
                    Good Moral Character (Original and 1 Photocopy)
                  </li>
                  <li>
                    SHS Diploma
                  </li>
                  <li>
                    1x1 Picture (2pcs. White Background)
                  </li>
                  <li>
                    2x2 Picture (2pcs. in Formal White Background)
                  </li>
                </ol>
              </div>
              <div class="col s12 m6">
                <h6><strong>FOR TRANSFEREES</strong></h6>
                <ol>
                  <li>
                    Certificate of Transfer Credentials
                  </li>
                  <li>
                    Copy of Grades (Original & 1 Photocopy)
                  </li>
                  <li>
                    Good Moral Character (Original & 1 Photocopy)
                  </li>
                  <li>
                    Official Transcript of Records "Copy for CDC"
                  </li>
                  <li>
                    PSA/NSO Certified Birth Certificate (Present the Original & 1 Photocopy)
                  </li>
                  <li>
                    PSA Certificate of Marriage (for married female only)(Present the Original & 1 Photocopy)
                  </li>
                  <li>
                    Long Folder & Long Brown Envelope
                  </li>
                  <li>
                    1x1 Picture (2pcs. White Background)
                  </li>
                  <li>
                    2x2 Picture (2pcs. White Background)
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
